// @import "normalize.less";
// @import "main.less";
@import "bootstrap.less";

@background-color: #f9f9fa;

.hidden {display: none;}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: @background-color;
    /* background: url('../img/background/morning.jpg') no-repeat @background-color; */
    /* background-size: cover; */
}

